credentials.db
AppSupport
.DS_Store

/cagent/
/gcloud/
/gh/
/github-copilot/
/iterm2/
/jgit/
/op/
/gh-copilot/
/ghc/
/rclone/
/wandb/
/zed/
/htop/
/neofetch/
/emacs/
/karabiner/automatic_backups/
/direnv/
/git/
/cabal/
/graphite/
/nvim/lazy-lock.json
/opencode/
/.tmp/
/result
.mdup-plan.nuon
