credentials.db
AppSupport
.DS_Store

.claude/
.mdup-plan.nuon
.nushell/
.nushell/
.zsh/
/.tmp/
/cagent/
/direnv/
/emacs/
/gcloud/
/gh-copilot/
/gh/
/ghc/
/git/
/github-copilot/
/graphite/
/htop/
/iterm2/
/jgit/
/karabiner/automatic_backups/
/neofetch/
/nvim/lazy-lock.json
/op/
/opencode/
/nushell/history.*
/result
