credentials.db
AppSupport
.DS_Store
*.bak
*.backup
*.hm-backup

direnv/
.claude/
.mdup-plan.nuon
.nushell/
.zsh/

/.direnv/
/.tmp/
/ai/pi/extensions/node_modules
/ai/pi/brave-operator-profile/
/cagent/
/cabal/
/doom/custom.el
/emacs/
/gcloud/
/gh-copilot/
/gh/
/ghc/
/git/
/github-copilot/
/graphite/
/htop/
/iterm2/
/jgit/
/karabiner/automatic_backups/
/neofetch/
/nushell/config.nu
/nushell/env.nu
/nushell/history.*
/nvim/init.lua
/nvim/lazy-lock.json
/op/
/opencode/
/result
/.worktrees/
/1Password/
/agenix/
/mprocs.log
/secrets/
/turnkey/

solana/id.json
configstore/update-notifier-create-solana-dapp.json
